* {
  background: rgb(250, 235, 215);
} 
  
h1 {
  font-family: Arial;
  font-size: 36px; 
  border-bottom: 2px solid Black;
}
body {
  font-family: Courier, Monospace;
  
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

/* Consolas
Rockwell Extra Bold
Andale Mono */
